<h1 class="page-header">Workflows</h1>

<!-- Custom Success/Error Message -->
<div class="row show-hide-message" *ngIf="message && newPost">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<!-- New Post Button -->
<button type="button" name="button" class="btn btn-warning" *ngIf="!newPost" (click)="newworkflowForm()">New Workflow</button>

<!-- Reload Button -->
<button [disabled]="loadingworkflows" type="button" name="button" class="btn btn-default" *ngIf="!newPost" (click)="reloadworkflows()">
  <span class="glyphicon glyphicon-repeat"></span>&nbsp;&nbsp;Reload</button>

<br />
<br />

<a [routerLink]="['/template-workflow/']" *ngIf="newPost">
  <button type="button" name="button" class="btn btn-sm btn-warning">Use Template</button>
</a>

<br />
<br />
<!-- New workflow Form -->
<form [formGroup]="form" name="workflowForm" (submit)="onworkflowSubmit()" *ngIf="newPost">
  <!-- Title Input -->
  <div class="form-group">
    <label for="title">Title</label>
    <div [ngClass]="{'has-success': form.controls.title.valid, 'has-error': form.controls.title.dirty && form.controls.title.errors}">
      <input type="text" name="title" class="form-control" placeholder="*workflow Title" autocomplete="off" formControlName="title"
      />
      <ul class="help-block">
        <li *ngIf="form.controls.title.dirty && form.controls.title.errors?.required">This field is required.</li>
        <li *ngIf="(form.controls.title.dirty && form.controls.title.errors?.minlength) || (form.controls.title.dirty && form.controls.title.errors?.maxlength)">Max length: 50, Min length: 5</li>
        <li *ngIf="form.controls.title.dirty && form.controls.title.errors?.alphaNumericValidation">Must be a letter or number</li>
      </ul>
    </div>
  </div>
  <div class="form-group">
    <label for="body">Body</label>
    <div [ngClass]="{'has-success': form.controls.body.valid, 'has-error': form.controls.body.dirty && form.controls.body.errors}">
      <textarea name="body" rows="8" cols="80" placeholder="*Body" class="form-control" formControlName="body"></textarea>
      <ul class="help-block">
        <li *ngIf="form.controls.body.dirty && form.controls.body.errors?.required">This field is required.</li>
        <li *ngIf="(form.controls.body.dirty && form.controls.body.errors?.minlength) || (form.controls.body.dirty && form.controls.body.errors?.maxlength)">Max length: 500, Min length: 5</li>
      </ul>
    </div>
  </div>

  <!-- Go Back Button -->
  <button [disabled]="processing" type="button" name="button" (click)="goBack()" class="btn btn-warning">Go Back</button>
  <!-- Submit Button -->
  <button [disabled]="processing || !form.valid" type="submit" name="button" class="btn btn-success">Submit</button>

</form>
<div class="container">
  <div *ngIf="!newPost && workflows && workflows.length !=0">
    <div  class="panel panel-primary" *ngFor="let wf of workflows">
      <div class="panel-heading">
        <h3 class="panel-title">{{wf.title}}</h3>
      </div>
      <div class="panel-body">

        <form class="form-inline">
          <div class="form-group">
            <label>Choose Theme:</label>
            <select class="theme_selector form-control">
              <option value="default">default</option>
              <option value="arrows">arrows</option>
              <option value="circles">circles</option>
              <option value="dots">dots</option>
            </select>
          </div>

          <label>External Buttons:</label>
          <div class="btn-group navbar-btn" role="group">
            <button class="btn btn-default prev-btn"  type="button">Go Previous</button>
            <button class="btn btn-default next-btn"  type="button">Go Next</button>
            <button class="btn btn-danger reset-btn" type="button">Reset Wizard</button>
          </div>
        </form>
        <br />
        <br />
        <a [routerLink]="['/step', wf._id]" *ngIf="username === wf.createdBy">
          <button type="button" name="button" class="btn btn-sm btn-info">Add Step</button>
        </a>
        <a [routerLink]="['/edit-workflow/', wf._id]" *ngIf="username === wf.createdBy">
          <button type="button" name="button" class="btn btn-sm btn-warning">Edit</button>
        </a>
        <a [routerLink]="['/delete-workflow/', wf._id]" *ngIf="username === wf.createdBy">
          <button [disabled]="processing" type="button" name="button" class="btn btn-sm btn-danger">Delete</button>
        </a>
        <br/> {{wf.body}}
        <br />
        <div id="smartwizard" >
        <div *ngFor="let s of subprocesses; let i = index" >
            <ul>
              <li *ngIf="s.workflowId == wf._id">
                <a href="#step-{{i}}">{{s.title}}
                <br />
                <small>This is step description</small>
                </a>
              </li>
            </ul>
          
            <div *ngIf="s.workflowId == wf._id">
              <div  id="step-{{i}}" class="">
                <h2>{{s.title}}</h2>
                {{s.body}}
              </div>
            </div>
        </div>
      </div>
      </div>
      <div class="panel-footer">
        <strong>Created by: </strong>{{wf.createdBy}}
        <br />
        <strong>Date: </strong>{{wf.createdAt | date : 'MMM dd, yyyy'}}
        <br />
      </div>

    </div>
  </div>
</div>