<h1 class="page-header">View Workflow</h1>
<div class="row show-hide-message" *ngIf="message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<div class="container">
  <div *ngIf="!newPost && workflow">
    <div  class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">{{workflow.title}}</h3>
      </div>
      <div class="panel-body">
        
        <br />
        <br />
        <a [routerLink]="['/view-workflow/', workflow._id]">
          <button type="button" name="button" class="btn btn-sm btn-warning">View</button>
        </a>
        <a [routerLink]="['/step', workflow._id]" *ngIf="username === workflow.createdBy">
          <button type="button" name="button" class="btn btn-sm btn-info">Add Step</button>
        </a>
        <a [routerLink]="['/edit-workflow/', workflow._id]" *ngIf="username === workflow.createdBy">
          <button type="button" name="button" class="btn btn-sm btn-warning">Edit</button>
        </a>
        <a [routerLink]="['/delete-workflow/',workflow._id]" *ngIf="username === workflow.createdBy">
          <button [disabled]="processing" type="button" name="button" class="btn btn-sm btn-danger">Delete</button>
        </a>
        <br/> {{workflow.body}}
        <br />
        <form class="form-inline">
          <div class="form-group">
            <label>Choose Theme:</label>
            <select class="form-control" id="theme_selector">
              <option value="default">default</option>
              <option value="arrows">arrows</option>
              <option value="circles">circles</option>
              <option value="dots">dots</option>
            </select>
          </div>

          <label>External Buttons:</label>
          <div class="btn-group navbar-btn" role="group">
            <button class="btn btn-default prev-btn"  type="button">Go Previous</button>
            <button class="btn btn-default next-btn"  type="button">Go Next</button>
            <button class="btn btn-danger reset-btn" type="button">Reset Wizard</button>
          </div>
        </form>
        <div id="smartwizard" >

              <ul>
                <li  *ngFor="let s of subprocesses; let i = index">
                  <a href="#step-{{i+1}}">{{s.title}}
                  <br />
                  <small>This is step description</small>
                  </a>
                </li>
              </ul>
            
                <div   *ngFor="let s of subprocesses; let i = index" id="step-{{i+1}}" class="">
                  <h2>{{s.title}}</h2>
                  {{s.body}}
                </div>


        </div>
      </div>
    
      <div class="panel-footer">
        <strong>Created by: </strong>{{workflow.createdBy}}
        <br />
        <strong>Date: </strong>{{workflow.createdAt | date : 'MMM dd, yyyy'}}
        <br />
      </div>

    </div>
  </div>
</div>