<div class="jumbotron text-center">
        <h1>Process Guide Home</h1>
        <div>
          <a routerLink="/login" class="btn btn-default">Login</a>
          <a routerLink="/register" class="btn btn-default">Register</a>
         </div>
</div>
      
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="https://image.flaticon.com/icons/svg/417/417745.svg" alt="placeholder image" width="140" height="140">
            <div class="caption text-center">
              <h3>Home</h3>
              </div>
          </div>
        </div>
     </div>